.App {
  background-color: black;
	color: white;
	height: 850px;
	width: 450px;
	display: flex;
	flex-direction: column;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 20px;
}

.pic {
  width: 450px;
  height: 300px;
}
.text {
  text-align: center;
  line-height: 15px;
}
.role {
  color:darkcyan;
}
.web{
  color: whitesmoke;
}
.butt {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 12px;
}
.butt2 {
  padding: 10px 1.5rem;
  background-color: blue;
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  font-size: 1rem;
}
.butt1 {
  background-color: white;
  color: black;
  width: 40%;
  margin-right: 12px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px 1.5rem;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  box-sizing: border-box;
}

main{
  margin-left: 50px;
}

.child {
  text-align: justify;
  color: blueviolet;
  margin-top: -15px;
}

footer {
  background-color: #36454F;
  margin-top: 35px;
  border-radius: 20px;
}
.sm {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}