.App {
  background-color: black;
	color: white;
	height: 900px;
	width: 400px;
	display: flex;
	flex-direction: column;
  border-radius: 5px;
  margin: auto;
}

.pic {
  width: 400px;
  height: 300px;
}
.text {
  text-align: center;
  line-height: 15px;
}
.role {
  color:darkcyan;
}
.web{
  color: whitesmoke;
}
.butt {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 12px;
}
button {
  padding: 10px 1.5rem;
  background-color: burlywood;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  
}

.abt {
  color:sienna;
    font-family: fantasy;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.child {
  text-align: justify;
    line-height: 20px;
    color: blueviolet;
}